<h1 class="mt-4">Swipe</h1>
<header class="header2" id="header2">            
    <div class="topnav">
        <a href="/dashboard">Home</a>
        <a href="/dashboard/swipe">Swipe</a>
        <a href="/dashboard/matches">Matches</a>
        <a href="/dashboard/profile">Profile</a>
    </div>
    <style type="text/css">
        .topnav a {
            float: left;
            color: #918080;
            text-align: center;
            padding: 16px 20px;
            text-decoration: none;
            font-size: 17px;
            display: block;
            width: 25%;
            border-right: 1px solid black;
            border-left: 1px solid black;
            box-sizing: border-box;
          }
        </style>